<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>coinbacked - the trust protocol.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include 'blocks/block_css_scripts.html' %}
        {% include 'blocks/block_bootstrap_script.html'%}

    </head>

    <body>
        <div class="pageloader"><span id="pageloader-text is-dark" class="title">Loading...</span></div>

        {% include 'blocks/block_popups.html' %}

        <div class="container">
            <div class="inner-container">
                
                {% include 'blocks/block_header.html' %}

                <div class="hide-sm hide-md hide-lg" style="margin-top: 40px;"></div>
                
                {% include 'blocks/block_app_box.html' %}

                <div id="hero-intro" class="hero is-full-screen">
                    <br/>
                        <h1>A <strong>Solana token protocol</strong> to put the <strong>trust</strong> where the <strong>coin</strong> is.</h1>
                        <a href="#concept" class="">⭣</a>
                </div>
            </div>
            
            <div id="concept" class="is-full-screen clear" style="background-color: #d1e4dd;">
                <div class="inner-container">
                    <img src="upper.png" style="padding-top: 100px; padding-bottom: 100px;"/>
                    <div style="color: var(--bg-color);">
                        <div class="row">
                            <div class="col">
                                <!--<div class="info-col-icon">☳</div>-->

                                <h3 class="is-center info-col-title">01/ <span style="text-decoration: underline;">Why</span></h3>
                                <div class="text-justify info-col">
                                    The crypto space has been plagued by a trust problem due to the lack of stability and extreme volatility of digital currencies. While many people have invested with the hope of making a profit, the unpredictable nature of the market has caused significant anxiety and frustration for investors. During the current bear market, prices for cryptos and tokens can fall by significant percentages, and investors may experience losses on their investments. The huge lack of trust is hurting creators, collectors, and the whole ecosystem.         
                                </div>
                            </div> 
                            <div class="col">
                                <!--<div class="info-col-icon">☴</div>-->
                                <h3 class="is-center info-col-title">02/ <span style="text-decoration: underline;">What</span></h3>
                                <div class="text-justify info-col">
                                    An artistic statue made of silver may have intrinsic value as both a work of art and a precious metal. Its intrinsic value is a combination of both its aesthetic and material qualities.
                                    As a work of art, the status maybe admired for its aesthetic qualities. The value of the statue may fluctuate over time, but its status as a unique and valuable object is likely to endure. Why not follow this concept of „intrinsic“ value and apply it to any token, fungible or non-fungible?
                                                                    </div>
                            </div>
                            <div class="col">
                                <!--<div class="info-col-icon">☷</div>-->
                                <h3 class="is-center info-col-title">03/ <span style="text-decoration: underline;">How</span></h3>
                                <div class="text-justify info-col">
                                    With Coinbacked, a tansparent protocol is introduced to add intrinsict value to any fungible or non-fungible token by backing it with native SOL. Backing itself is a one-way operation, that can only add value. The only way to retrieve the value is to burn the token. As with the statue made of sivler, the intrinsic value can be only accessed by destroying the work itself.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="info-block" class="is-full-screen" style="background-color: #eee;">
                <div class="inner-container">

                    <div class="hide-xs" style="padding-top: 100px;"></div>
                    <div>
                        <div class="row is-center" style="margin:0px !important">
                            <div class="col-6 col-3-md col-4-lg">
                                <h2>01/Create & Back</h2>
                                Add intrinsic value to any Solana fungible or non-fungible token in our app or on supported marketplaces. You decide how much SOL you put up for backing! The protocol will take small fee.
                            </div>
                            <div class="col-6 col-3-md col-4-lg clearfix">
                                <h2>02/It's still you token</h2>
                                Coinbacked is a fully transparent protocol. You can do whatever you want to do with your token, Coinbacked is like and add-on or decoration: your NFT just stays the same!
                            </div>
                            <div class="col-6 col-3-md col-4-lg">
                                <h2>03/Burn it!</h2>
                                The only way to get the backing SOL is to burn the NFT (or amount of fungible tokens). So you bought some shitty NFT, but it was backed? Well, just burn it an retrieve the intrinsic value.
                            </div>
                        </div>
                    </div>  
                    <img src="lower.png" style="padding-top: 200px;"/>
                </div>
            </div>

                <div id="info-block" class="is-full-screen">
                    <div class="inner-container">

                        <div class="hide-xs" style="padding-top: 100px;"></div>
                        <div>
                            <div class="row is-center" style="margin:0px !important">
                                <div class="col-6 col-3-md col-4-lg">
                                    <h2>For Token Owners & Collectors</h2>
                                    Token onwners and collectors profit from the simple mechanism to safeguards their investments. A backed token builds stability and trust. The backing amount can always be increased, but never be decreased. Long-term commitments replacing the short-term gain - that's Coinbacked! 
                                </div>
                                <div class="col-6 col-3-md col-4-lg clearfix">
                                    <h2>For Creators & Developers</h2>
                                    Add intrinsic value to your work! Show your fans and customers how much you value your art and tokens buy backing them from the day one! Any Solana token your create (fungible or non-fungible) can be backed. Stability and trust now have a protocol: Coinbacked.
                                </div>
                                <div class="col-6 col-3-md col-4-lg">
                                    <h2>For Marketplaces & Exchanges</h2>
                                    Add native Coinbacked support to your marketplace and help your customers to build trust. By adding protocol support, marketplaces are an important piece of the trust-puzzle. With Coinbacked in place, a longlasting and sustainable token economy is easy to build.
                                </div>
                            </div>
                        </div>  
                        <img src="lower.png" style="padding-top: 200px;"/>
                    </div>
                </div>
        </div>

        <footer class="main text-center" style="height: 300px">
            <div class="pull-left"><img src="logo_light.png" width="100px"/></div>

            <div class="pull-right is-right" style="padding-right: 10px">
                <div><a href="https://pengsquare.com" style="color: #fff">© 2023 Pengsquare UG</a></div>
            </div>
            
            <div class="pull-right is-right" style="padding-right: 10px">
                <div><a href="https://pengsquare.com/impressum-kontakt/" style="color: #fff">imprint</a></div>
            </div>

            <div class="pull-right is-right" style="padding-right: 10px">
                <div><a href="https://pengsquare.com/datenschutzerklaerung/" style="color: #fff">data privacy</a></div>
            </div>
        </footer>
    </body>
</html>
