<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>coinbacked - the trust protocol.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include 'blocks/block_css_scripts.html' %}
        {% include 'blocks/block_bootstrap_script.html'%}

    </head>

    <body>
        <div class="pageloader"><span id="pageloader-text is-dark" class="title">Loading...</span></div>

        {% include 'blocks/block_popups.html' %}

        <div class="container">
            <div class="inner-container">
                
                {% include 'blocks/block_header.html' %}

                <div class="hide-sm hide-md hide-lg" style="margin-top: 40px;"></div>
                
                {% include 'blocks/block_app_box.html' %}

                <div id="hero-intro" class="hero is-full-screen">
                    <br/>
                        <h1>A <strong>Solana token protocol</strong> to put the <strong>trust</strong> where the <strong>coin</strong> is.</h1>
                        <a href="#concept" class="">⭣</a>
                </div>
            </div>
            
            <div id="concept" class="is-full-screen clear" style="background-color: #d1e4dd;">
                <div class="inner-container">
                    <div style="color: var(--bg-color);">
                        <div class="row">
                            <div class="col">
                                <img class="is-rounded is-center" src="new_7411.png">

                                <h3 class="is-center">01/ <span style="text-decoration: underline;">Why</span></h3>
                                <div class="text-justify">
                                Problem with trust and stabilty of value, volatile to the extreme of chaos and 
        
                                Solution is adding a backing mechanism that locks in native coin of a respective chain tighly associtated and not removable with token itself.
                                
                                Take a beatiful sculputre made of silver: any potential collector would aquire such a piece for the artistic value, but would probably also figure in the fact, that the base price of this scultpule will never fall under the value of its material - here it's the value silver. This right there introduces a very basic level of trust: by choosing a valued material, the creatore deemed the sculpture of enoguh value, that she invested herself by using valuable materials that will not demean.   
                                 </div>
                            </div>
                            <div class="col">
                                <img class="is-rounded is-center" src="new_7411.png">

                            </div>
                            <div class="col">
                                <img class="is-rounded is-center" src="new_7411.png">

                                <h3 class="is-center">03/ <span style="text-decoration: underline;">How</span></h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


                <div id="info-block" class="is-full-screen">
                    <div class="inner-container">

                        <div class="hide-xs" style="padding-top: 200px;"></div>
                        <div>
                            <div class="row is-center" style="margin:0px !important">
                                <div class="col-6 col-3-md col-4-lg">
                                    <h2>For Token Owners & Collectors</h2>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                </div>
                                <div class="col-6 col-3-md col-4-lg clearfix">
                                    <h2>For Creators & Developers</h2>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

                                </div>
                                <div class="col-6 col-3-md col-4-lg">
                                    <h2>For Marketplaces & Exchanges</h2>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
        </div>

        <footer class="main text-center">
            <div class="pull-left"><img src="logo_light.png" width="100px"/></div>

            <div class="pull-right is-right">
                <div><a href="https://pengsquare.com" style="color: #fff">psqr ug</a></div>
            </div>

        </footer>
    </body>
</html>
